<li [ngClass]="{editing: isEditting}">
  <div class="view">
    <input class="toggle" type="checkbox" [checked]="todo?.isCompleted" (change)="toggleTodo()">
    <label (dblclick)="setTodoInEditMode()">{{todo?.text}}</label>
  </div>
  <ng-container *ngIf="isEditting">
    <input class="edit"
           #textInput
           id="textInput"
           [value]="editingText"
           (keyup)="changeText($event)"
           (keyup.enter)="changeTodo()">
  </ng-container>
  <button (click)="setTodoInEditMode()" class="pencil-edit">
    <mat-icon>edit</mat-icon>
  </button>

  <button  (click)="removeTodo()" class="destroy">
    <mat-icon>delete</mat-icon>
  </button>

</li>

