$color_1: inherit;
$color_2: #111111;
$color_3: rgba(0, 0, 0, 0.4);
$color_4: #b83f45;
$color_5: #999563;
$color_6: #737373;
$color_7: #4d4d4d;
$color_8: #cdcdcd;
$color_9: #cc9a9a;
$color_10: #af5b5e;
$color_11: #787e7e;
$color_12: #000;
$font-family_1: inherit;
$background-color_1: rgba(255, 255, 255, .6);
$border-color_1: rgba(175, 47, 47, 0.1);
$border-color_2: rgba(175, 47, 47, 0.2);
$border-top-color_1: rgba(0, 0, 0, .04);
